<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antsoft.yecai.mapper.RubbishMapper">
    <select id="count" resultType="int">
        SELECT count(*) FROM v1_user_rubbishes
    </select>

    <delete id="clear">
        DELETE FROM v1_user_rubbishes
    </delete>

    <select id="getAllCountForUpdate" resultType="int">
        SELECT SUM(count) FROM v1_user_rubbishes WHERE user_id = #{userId}
    </select>

    <update id="clearAllCount">
        UPDATE v1_user_rubbishes SET count = 0 WHERE user_id = #{userId}
    </update>

    <!--<resultMap id="account" type="Account">-->
        <!--<result column="mtime" property="mtime" typeHandler="DateTimeTypeHandler"/>-->
    <!--</resultMap>-->
</mapper>