<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antsoft.yecai.mapper.UserRegisterInfoMapper">
    <sql id="columns">login_name, password, user_id, gender, qq, email, introduction</sql>

    <select id="count" resultType="int">
        SELECT count(*) FROM v1_user_register_infos
    </select>

    <delete id="clear">
        DELETE FROM v1_user_register_infos
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO v1_user_register_infos(<include refid="columns"/>)
        VALUES(#{loginName}, #{password}, #{userId}, #{gender}, #{qq}, #{email}, #{introduction})
    </insert>

    <select id="getEncodedPassword" resultType="String">
        SELECT password FROM v1_user_register_infos
        WHERE login_name = #{loginName}
    </select>

    <select id="getUserId" resultType="String">
        SELECT user_id FROM v1_user_register_infos
        WHERE login_name = #{loginName}
    </select>

    <resultMap id="userRegisterInfoMap" type="UserRegisterInfo">
        <result column="gender" property="gender" typeHandler="EnumTypeHandler"/>
    </resultMap>

    <select id="getByLoginName" resultMap="userRegisterInfoMap">
        SELECT <include refid="columns"/> FROM v1_user_register_infos
        WHERE login_name = #{loginName}
    </select>

    <select id="checkUserId" resultType="String">
        SELECT user_id FROM v1_user_register_infos
        WHERE user_id = #{userId}
    </select>
</mapper>