<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antsoft.yecai.mapper.UserEquipmentMapper">
    <sql id="columns">user_id, equipment_type, equipment_key</sql>

    <select id="count" resultType="int">
        SELECT count(*) FROM v1_user_equipments
    </select>

    <delete id="clear">
        DELETE FROM v1_user_equipments
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO v1_user_equipments(<include refid="columns"/>)
        VALUES(#{userId}, #{equipmentType}, #{equipmentKey})
    </insert>

    <select id="getByUserId" resultMap="userEquipmentMap">
        SELECT id, <include refid="columns"/> FROM v1_user_equipments WHERE user_id = #{userId}
    </select>

    <resultMap id="userEquipmentMap" type="UserEquipment">
        <result property="equipmentType" column="equipment_type" typeHandler="EnumTypeHandler"/>
    </resultMap>
</mapper>