<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antsoft.yecai.mapper.UserPetMapper">
    <sql id="columns">pet_id, pet_type, user_id</sql>

    <select id="count" resultType="int">
        SELECT count(*) FROM v1_user_pets
    </select>

    <delete id="clear">
        DELETE FROM v1_user_pets
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO v1_user_pets(<include refid="columns"/>)
        VALUES(#{petId}, #{petType}, #{userId})
    </insert>

    <select id="getByPetId" resultType="UserPet">
        SELECT id, <include refid="columns"/> FROM v1_user_pets
        WHERE pet_id = #{petId}
    </select>

    <select id="getPetsByUserId" resultType="UserPet">
        SELECT id, <include refid="columns"/> FROM v1_user_pets
        WHERE user_id = #{userId}
    </select>
</mapper>